@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --marineBlue: hsl(213, 96%, 18%);
  --purplishBlue: hsl(243, 100%, 62%);
  --pastelBlue: hsl(228, 100%, 84%);
  --lightBlue: hsl(206, 94%, 87%);
  --strawberryRed: hsl(354, 84%, 57%);
  --coolGray: hsl(231, 11%, 63%);
  --lightGray: hsl(225, 25%, 94%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--magnolia);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: var(--white);
  padding: 1em;
  display: flex;
  height: 550px;
  min-width: 920px;
  max-width: 920px;
  border-radius: 15px;
  filter: drop-shadow(10px 10px 10px var(--lightGray));
}

.step-info {
  width: 40%;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}

.step-counter-container {
  height: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.step-info h4 {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--coolGray);
  font-size: 0.9em;
}

.step-info h2 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.step-1,
.step-2,
.step-3,
.step-4 {
  display: flex;
  align-items: center;
}

.step-count-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid white;
  height: 35px;
  width: 35px;
  margin-right: 20px;
}
.step-count-info-current {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--lightBlue);
  height: 37px;
  width: 37px;
  margin-right: 20px;
}

.title-container {
  margin-bottom: 2em;
}

.step-count-info h1 {
  color: white;
  font-size: 15px;
  margin: 0;
}

.step-count-info-current h1 {
  color: var(--marineBlue);
  font-size: 15px;
  margin: 0;
}

.step-info h4,
.step-info h2 {
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 80px;
  height: 100%;
  width: 60%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.content > .form-group > label {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0.8em;
}

.form-container input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--coolGray);
  color: var(--marineBlue);
  font-size: 16px;
  font-weight: 700;
}

input::placeholder {
  color: var(--coolGray);
  font-size: 14px;
}

input:focus {
  outline: 1px solid var(--purplishBlue);
  border: 1px solid var(--coolGray);
  transition: outline 1ms ease-in-out;
}

label {
  color: var(--marineBlue);
  font-weight: bold;
}

input[type="checkbox"] {
  height: 19px;
  width: 19px;
  accent-color: var(--purplishBlue);
}

label input {
  display: inline;
}

button {
  width: 100px;
  height: 40px;
  text-align: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background-color: var(--marineBlue);
  color: white;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

.step:not(.active) {
  display: none;
}

#plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#plan .plan-info {
  width: 22%;
  height: 120px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--coolGray);
}

.plan-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan-info:hover {
  cursor: pointer;
  border: 1px solid var(--purplishBlue) !important;
}

.plan-title h4,
p {
  margin: 0.2em;
}

.plan-title h4 {
  color: var(--marineBlue);
}

#step2 {
  width: 100%;
}

.plan-selected {
  border: 1px solid var(--purplishBlue) !important;
  background-color: hsla(228, 100%, 84%, 0.2);
}

h1.step-title {
  color: var(--marineBlue);
  margin: 0 0 0.3em 0;
}

p.step-description {
  color: var(--coolGray);
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}

#step1 button,
#step4 button {
  margin-left: auto;
}

#step5 {
  align-items: center;
  justify-content: center;
}

#step5 p {
  color: var(--coolGray);
}

#step5 h1 {
  margin: 15px 0;
}

.title p {
  margin: 0;
  font-size: 14px;
}

.title {
  margin-bottom: 24px;
  width: 100%;
}

.step-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.step-bottom-section h3 {
  color: var(--coolGray);
  margin: 0;
  font-size: 1.1em;
  font-weight: 500;
}

.step-bottom-section h3:hover {
  color: var(--marineBlue);
  cursor: pointer;
}

/* Price toggle setting */
#price-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--alabaster);
  padding: 1em;
  border-radius: 0.4em;
  font-weight: bold;
}

.toggle {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: justify-content 1sec ease-in-out;
  box-sizing: border-box;
  padding: 0.3em;
  margin: 0 1em;
  border-radius: 1em;
  background: var(--marineBlue);
}

.right {
  justify-content: flex-end;
  transition: justify-content 1sec ease-in-out;
}

.toggle-button {
  width: 13px;
  height: 13px;
  border-radius: 1em;
  background-color: white;
}

/*Step 3 styles*/
.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkbox1,
.checkbox2,
.checkbox3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  border-radius: 8px;
  margin: 1em 0;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  border: 1px solid var(--coolGray);
}

.add_on_title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.add_on_title > div {
  margin-left: 1.5em;
}

.add_on_title > div > h3 {
  margin: 0;
  margin-bottom: 0.3em;
  font-size: 1em;
  color: var(--marineBlue);
}

.add_on_title > div > p {
  margin: 0;
}

.checkbox2:hover,
.checkbox1:hover,
.checkbox3:hover {
  cursor: pointer;
  border: 1px solid var(--purplishBlue) !important;
}

#plan {
  margin: 2em 0;
}

/* Finishing up page design */

.final-plan-info {
  background-color: var(--magnolia);
  padding: 2em;
  border-radius: 0.6em;
}

.final-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.final-info-row h4 {
  margin: 0;
  margin-bottom: 0.6em;
  color: var(--marineBlue);
}

.final-info-row p {
  margin: 0;
  color: var(--coolGray);
  text-decoration: underline;
}

.final-info-row p:hover {
  margin: 0;
  color: var(--purplishBlue);
  cursor: pointer;
}

hr {
  margin-top: 1.5em;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
}

p.add-on-title {
  color: var(--coolGray);
}

p.add-on-price {
  color: var(--marineBlue);
}

.plan-total-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

.plan-total-price-container > p {
  font-weight: 500;
  color: var(--coolGray);
}

#plan-total-price {
  color: var(--purplishBlue);
}

#confirm {
  background-color: var(--purplishBlue);
}
